html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:2px solid grey;
}

html {
    color: black;
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
}

#visitbutton {
    background-color: #FF754E;
}

#learnbutton {
    background-color: #5FD3EC;
}

#involvedbutton {
    background-color: #FECD6A;
}

.links {
    margin: 0 10px;
    display: inline-block;
    width: 250px;
}

.links div a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    border-radius: 200px;
    color: white;
    text-align: center;
}
#headerimg {
    display: inline-block;
    float: left;
    width: 25%;
    height: auto;
    border-radius: 50%;
    margin: 75px;
}

.picbox {
    text-align:center;
}


h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2em;
}

.textbox {
    background-color: #DDB9A3; 
    width: 800px;
    padding: 30px;
    color: white;
    font-size: 2em;
    float: right;
    text-align: center;
}

#footerimg {
    object-fit: cover;
    width: 100%;
    height: 325px;
    object-position: 0 15%;
}